name: build
on:
  pull_request:
    branches:
      - master
  schedule:
    - cron: '30 22 * * *'
  workflow_dispatch:

env:
  TAG_NAME: latest

jobs:
  buildroot:
    name: Firmware
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        platform:
          # Sigmastar [I6C]
          - ssc378de_ultimate

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Prepare firmware
        run: |
          echo "nameserver 8.8.8.8" | sudo tee /etc/resolv.conf
          echo CACHE_DATE=$(date +%m) >> ${GITHUB_ENV}

      - name: Setup ccache
        if: github.event_name != 'pull_request'
        uses: actions/cache@v4
        with:
          path: /tmp/ccache
          key: ${{matrix.platform}}-${{env.CACHE_DATE}}

      - name: Restore ccache
        if: github.event_name == 'pull_request'
        uses: actions/cache/restore@v4
        with:
          path: /tmp/ccache
          key: ${{matrix.platform}}-${{env.CACHE_DATE}}

      - name: Force Clean Patch Generation
        run: |
          mkdir -p general/package/baresip-openipc/
          printf -- "---\n+++ b/modules/avcodec/encode.c\n@@ -103,19 +103,20 @@\n \t}\n \n \tencoder = avcodec_find_encoder(st->codec_id);\n \tif (!encoder) {\n-\t\twarning(\"avcodec: %%s: could not init encoder\\\\n\",\n-\t\t\tavcodec_get_name(st->codec_id));\n-\t\terr = ENOENT;\n-\t\tgoto out;\n+\t\twarning(\"avcodec: %%s: bypass encoder for passthrough\\\\n\",\n+\t\t\tavcodec_get_name(st->codec_id));\n+\t\tves->ctx = NULL;\n+\t\tgoto skip_context;\n \t}\n \n \tves->ctx = avcodec_alloc_context3(encoder);\n \tif (!ves->ctx) {\n \t\terr = ENOMEM;\n \t\tgoto out;\n \t}\n \n+skip_context:\n \tif (ves->ctx) {\n \t\tves->ctx->bit_rate = prm->bitrate;\n \t\tves->ctx->width    = prm->width;\n@@ -239,6 +240,9 @@\n \tint err = 0;\n \n \tif (!ves || !frame)\n \t\treturn EINVAL;\n+\n+\tif (!ves->ctx)\n+\t\treturn 0;\n \n \tif (update) {" > general/package/baresip-openipc/0003-avcodec-bypass-encoder-check-for-passthrough.patch
          
      - name: Build firmware
        run: |
          export GIT_HASH=$(git rev-parse --short ${GITHUB_SHA})
          export GIT_BRANCH=${GITHUB_REF_NAME}
          echo GIT_HASH=${GIT_HASH} >> ${GITHUB_ENV}
          echo GIT_BRANCH=${GIT_BRANCH} >> ${GITHUB_ENV}

          mkdir -p /tmp/ccache
          ln -s /tmp/ccache ${HOME}/.ccache
          make BOARD=${{matrix.platform}}

          TIME=$(date -d @${SECONDS} +%M:%S)
          echo TIME=${TIME} >> ${GITHUB_ENV}

          NORFW=$(find output/images -name openipc*nor*)
          if [ -e ${NORFW} ]; then
            echo NORFW=${NORFW} >> ${GITHUB_ENV}
          fi

          NANDFW=$(find output/images -name openipc*nand*)
          if [ -e ${NANDFW} ]; then
            echo NANDFW=${NANDFW} >> ${GITHUB_ENV}
          fi

      - name: Upload firmware
        if: github.event_name != 'pull_request'
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{env.TAG_NAME}}
          files: |
            ${{env.NORFW}}
            ${{env.NANDFW}}

      - name: Send binary
        if: github.event_name != 'pull_request' && env.NORFW
        run: |
          TG_MSG="Commit: ${GIT_HASH}\nBranch: ${GIT_BRANCH}\nTag: ${TAG_NAME}\nTime: ${TIME}\n\n"
          TG_ICON="\xE2\x9C\x85 GitHub Actions"
          TG_HEADER=$(echo -e ${TG_MSG}${TG_ICON})
          TG_TOKEN=${{secrets.TELEGRAM_TOKEN_BOT_OPENIPC}}
          TG_CHANNEL=${{secrets.TELEGRAM_CHANNEL_OPENIPC_DEV}}
          HTTP=$(curl -s -o /dev/null -w %{http_code} https://api.telegram.org/bot${TG_TOKEN}/sendDocument -F chat_id=${TG_CHANNEL} -F caption="${TG_HEADER}" -F document=@${NORFW})
          echo Telegram response: ${HTTP}
